<% unless (search_context_str = render_search_to_s(advanced_search_context)).blank? %>
  <div class="constraints well search_history">
    <h4><%= t 'blacklight_advanced_search.form.search_context' %></h4>
    <%= search_context_str %>
  </div>
<% end %>

<%= form_tag search_catalog_path, :class => 'advanced form-horizontal', :method => :get do  %>
  <%= render_hash_as_hidden_fields(advanced_search_context) %>

  <!--  Find items that match-->
  <div class="input-match">
    <div class="query-criteria" aria-labeledby="FIND ITEMS THAT MATCH" >
      <div class="query_criteria_heading">
        <%= t('blacklight_advanced_search.form.query_criteria_heading_html', :select_menu =>  select_menu_for_field_operator) %>
      </div>
    </div>
    <!--    Sort Results by-->
    <div class="adv-search-sort-submit-buttons sort-submit-top adv-search-fields clearfix">
      <%= render 'advanced_search_submit_btns' %>
    </div>
  </div>

  <div class="adv-search-border-top">
  </div>

  <!-- Fields on the form     -->
  <div class="advanced_search_fields" id="advanced_search">
    <%= render 'advanced/advanced_search_fields' %>
  </div>

  <div class="adv-search-border-bottom">
  </div>

  <div class="adv-search-sort-submit-buttons clearfix">
    <input type="submit" name="commit" value="SEARCH" class="btn btn-primary lg-btn advanced-search-submit" id="advanced-search-submit" data-disable-with="Search" aria-label="Search">
    <%= link_to "BASIC SEARCH", root_path, :class =>"btn btn-primary lg-btn pull-right", aria: { label: 'Basic Search' } %>
    <%= link_to "CLEAR", blacklight_advanced_search_engine.advanced_search_path, :class =>"btn btn-primary lg-btn advanced-search-start-over", aria: { label: 'Clear Form' } %>
  </div>

<% end %>
