<nav class="navbar navbar-expand-md navbar-dark bg-dark topbar" role="navigation">
    <div class="<%= container_classes %>">
        <%= link_to application_name, root_path, class: 'mb-0 navbar-brand navbar-logo' %>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
            <%= render 'shared/user_util_links' %>
        </div>
    </div>

</nav>
<div class="navbar-expand-md navbar-dark bg-dark topbar">
    <div class="secondary-nav">
        <div class="row">
            <section class="info-header">
                <div class="dropdown">
                    <h2 class="nav-link-title" data-toggle="dropdown">
                        <a href="#" role="button" aria-expanded="true">Research</a><p class="nav-link-caret">^</p>
                    </h2>
                    <div class="content-yul">
                        <div class="menu-block-wrapper">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href=<%= t('submenu.research.quicksearch.url')%>><%= t('submenu.research.quicksearch.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchLibraryCatalogOrbis.url')%>><%= t('submenu.research.searchLibraryCatalogOrbis.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchLawLibraryCatalog.url')%>><%= t('submenu.research.searchLawLibraryCatalog.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchBorrowDirect.url')%>><%= t('submenu.research.searchBorrowDirect.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchWorldCat.url')%>><%= t('submenu.research.searchWorldCat.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchArticlesPlus.url')%>><%= t('submenu.research.searchArticlesPlus.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.searchDigitalCollections.url')%>><%= t('submenu.research.searchDigitalCollections.title')%></a></li>
                                <li>
                                    <a href=<%= t('submenu.research.searchArchivesYale.url')%>><%= t('submenu.research.searchArchivesYale.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.researchGuides.url')%>><%= t('submenu.research.researchGuides.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.findDatabases.url')%>><%= t('submenu.research.findDatabases.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.findeJournalsTitle.url')%>><%= t('submenu.research.findeJournalsTitle.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.research.guideUsingSpecialCollections.url')%>><%= t('submenu.research.guideUsingSpecialCollections.title')%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info-header">
                <div class="dropdown">
                    <h2 class="nav-link-title" data-toggle="dropdown">
                        <a href="#" role="button" aria-expanded="false">Services</a><p class="nav-link-caret">^</p>
                    </h2>
                    <div class="content-yul">
                        <div class="menu-block-wrapper">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href=<%= t('submenu.services.yourPersonalLibrarian.url')%>><%= t('submenu.services.yourPersonalLibrarian.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.subjectSpecialists.url')%>><%= t('submenu.services.subjectSpecialists.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.researchSupportandWorkshops.url')%>><%= t('submenu.services.researchSupportandWorkshops.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.citationTools.url')%>><%= t('submenu.services.citationTools.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.overDrive.url')%>><%= t('submenu.services.overDrive.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.getIt@Yale.url')%>><%= t('submenu.services.getIt@Yale.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.courseReserves.url')%>><%= t('submenu.services.courseReserves.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.off-CampusAccess.url')%>><%= t('submenu.services.off-CampusAccess.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.eliScholar.url')%>><%= t('submenu.services.eliScholar.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.overDrive.url')%>><%= t('submenu.services.overDrive.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.services.bassMediaEquipment.url')%>><%= t('submenu.services.bassMediaEquipment.title')%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info-header">
                <div class="dropdown">
                    <h2 class="nav-link-title" data-toggle="dropdown">
                        <a href="#" role="button" aria-expanded="false">Libraries & Collections</a><p class="nav-link-caret">^</p>
                    </h2>
                    <div class="content-yul">
                        <div class="menu-block-wrapper">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.artsLibrary.url')%>><%= t('submenu.librariesCollections.artsLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.bassLibrary.url')%>><%= t('submenu.librariesCollections.bassLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.beineckeLibrary.url')%>><%= t('submenu.librariesCollections.beineckeLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.classicsLibrary.url')%>><%= t('submenu.librariesCollections.classicsLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.divinityLibrary.url')%>><%= t('submenu.librariesCollections.divinityLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.filmStudyCenter.url')%>><%= t('submenu.librariesCollections.filmStudyCenter.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.fortunoffArchive.url')%>><%= t('submenu.librariesCollections.fortunoffArchive.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.humanitiesCollections.url')%>><%= t('submenu.librariesCollections.humanitiesCollections.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.internationalCollections.url')%>><%= t('submenu.librariesCollections.internationalCollections.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.lawLibrary.url')%>><%= t('submenu.librariesCollections.lawLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.lewisWalpoleLibrary.url')%>><%= t('submenu.librariesCollections.lewisWalpoleLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.libraryCollectionServices.url')%>><%= t('submenu.librariesCollections.libraryCollectionServices.title')%></a></li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.manuScriptsArchives.url')%>><%= t('submenu.librariesCollections.manuScriptsArchives.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.mapCollection.url')%>><%= t('submenu.librariesCollections.mapCollection.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.marxScienceSocialScienceLibrary.url')%>><%= t('submenu.librariesCollections.marxScienceSocialScienceLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.mathematicsLibrary.url')%>><%= t('submenu.librariesCollections.mathematicsLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.medicalLibrary.url')%>><%= t('submenu.librariesCollections.medicalLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.musicLibrary.url')%>><%= t('submenu.librariesCollections.musicLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.sterlingLibrary.url')%>><%= t('submenu.librariesCollections.sterlingLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.librariesCollections.yaleCenterBritishArt.url')%>><%= t('submenu.librariesCollections.yaleCenterBritishArt.title')%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section class="info-header">
                <div class="dropdown">
                    <h2 class="nav-link-title" data-toggle="dropdown">
                        <a href="#" role="button" aria-expanded="false">Information & Policies</a><p class="nav-link-caret">^</p>
                    </h2>
                    <div class="content-yul">
                        <div class="menu-block-wrapper">
                            <ul class="dropdown-menu">
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.libraryHours.url')%>><%= t('submenu.informationPolicies.libraryHours.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.departmentsStaff.url')%>><%= t('submenu.informationPolicies.departmentsStaff.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.borrowingCirculation.url')%>><%= t('submenu.informationPolicies.borrowingCirculation.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.servicesPersonsWithDisabilities.url')%>><%= t('submenu.informationPolicies.servicesPersonsWithDisabilities.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.copyrightBasics.url')%>><%= t('submenu.informationPolicies.copyrightBasics.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.scanningPrintingCopying.url')%>><%= t('submenu.informationPolicies.scanningPrintingCopying.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.computersWireless.url')%>><%= t('submenu.informationPolicies.computersWireless.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.libraryPolicies.url')%>><%= t('submenu.informationPolicies.libraryPolicies.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.aboutLibrary.url')%>><%= t('submenu.informationPolicies.aboutLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.givingtoLibrary.url')%>><%= t('submenu.informationPolicies.givingtoLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.purchaseRequest.url')%>><%= t('submenu.informationPolicies.purchaseRequest.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.workingAtTheLibrary.url')%>><%= t('submenu.informationPolicies.workingAtTheLibrary.title')%></a>
                                </li>
                                <li>
                                    <a href=<%= t('submenu.informationPolicies.termsGoverningMaterialsUse.url')%>><%= t('submenu.informationPolicies.termsGoverningMaterialsUse.title')%></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
</div>

<div class="navbar-search navbar navbar-light bg-light" role="navigation">
    <div class="<%= container_classes %>">
        <%= render_search_bar %>
    </div>
</div>

<script>
  // override the addClass method so that a callback can be used
  (function($) {
    var oldAddClass = $.fn.addClass;
    $.fn.addClass = function() {
      for (var i in arguments) {
        var arg = arguments[i];
        if (!!(arg && arg.constructor && arg.call && arg.apply)) {
            setTimeout(arg.bind(this));
            delete arguments[i];
        }
      }
      return oldAddClass.apply(this, arguments);
    }

  })(jQuery);

  // show and hide the dropdown links properly
  $(document).ready(function() {
    $('.secondary-nav .nav-link-title').click(function(e) {
      $('.secondary-nav .content-yul').addClass('content-show', function() {
        const contentBlock = $('.secondary-nav .dropdown.show .menu-block-wrapper')[0]

        if (contentBlock) {
          $('.content-yul').height(contentBlock.offsetHeight + 20)
        } else {
          $('.content-yul').height(0)
        }
      })
    })

    $('body').on('click', function(e) {
      if (!$(e.target).is('.secondary-nav .nav-link-title') && !$(e.target).is('.secondary-nav .nav-link-title li a')) {
        $('.secondary-nav .content-yul').removeClass('content-show')
        $('.content-yul').height(0)
      }
    })
  })
</script>
