<%  # local params:
    # label
    # value
    # options =>
    #   :remove => url for a remove constraint link
    #   :classes => array of classes to add to container span
    options ||= {}
%>

<span class="btn-group applied-filter constraint query <%= options[:classes].join if options[:classes] %>">
  <button class="constraint-value btn btn-outline-secondary href-button" href="<%=options[:remove]%>">
    <% unless label.blank? %>
      <span class="filter-name"><%= label %> </span>
    <% end %>

    <% unless value.blank? %>
      <%= content_tag :span, value, class: 'filter-value'%>
      <!-- icon to remove-->
      <%= content_tag(:span, image_tag('x2x.png', alt: ""), class: 'remove-icon')  %>
    <% end %>
  </button>
</span>
