<!-- For BugHerd user feedback issue tracking -->
<script type="text/javascript" src="https://www.bugherd.com/sidebarv2.js?apikey=1ws6agf4j61dyolkgxnxaa" async="true"></script>
<!-- end of BugHerd customization -->
<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <!-- Only render universal viewer if the work is public OR if the user is authenticated -->
    <% if @document["visibility_ssi"] == "Public" || user_signed_in? %>
      <%= render_document_partials @document, [:show_header, :uv, :show] %>
    <% else %>
      <%= render_document_partials @document, [:show_header] %>
      <h5>The digital version of this work is restricted to the Yale Community.</h5>
      <p>Please login using your Yale NetID or contact library staff to inquire about access to a physical copy.</p>
      <%= render_document_partials @document, [:show] %>
    <% end %>
  </div>
</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!--
       // COinS, for Zotero among others.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
  -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>

<%= render 'show_tools' %>

<%= render 'show_links' %>

<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header">More Like This</div>
    <div class="card-body">
    <%= render collection: document.more_like_this,
                partial: 'show_more_like_this',
                as: :document %>
    </div>
  </div>
<% end %>