<div class='item-page__metadata-wrapper'>
  <%= render 'catalog/record/description_metadata', document: document %>
  <%= render 'catalog/record/keyword_metadata', document: document %>
  <%= render 'catalog/record/origin_metadata', document: document %>
  <%= render 'catalog/record/identifier_metadata', document: document %>
  <%= render 'catalog/record/usage_metadata', document: document %>
  <%= render 'catalog/record/migration_source_metadata', document: document %>
</div>