<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) do -%>
  <%= render_link_rel_alternates %>
  <%= render_schema_org_metadata %>
  <%= safe_join(render_ogp_metadata, "\n") %>
<% end %>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">
    <!-- Only render universal viewer if the work is public OR if the user is authenticated -->
    <% if client_can_view_digital?(@document) %>
      <%= render_document_partials @document, [:show_header] %>
      <%= render_document_partials @document, [:archival_context] %>
      <%= render_document_partials @document, [:uv] %>
      <%= render "grouped_metadata" %>
    <% elsif client_can_view_owp?(@document) && current_user %>
      <%= render_document_partials @document, [:show_header] %>
      <%= render_document_partials @document, [:archival_context] %>
      <%= render_document_partials @document, [:uv] %>
      <%= render "grouped_metadata" %>
    <% elsif !client_can_view_owp?(@document) && current_user %>
      <%= render_document_partials @document, [:show_header] %>
      <h2 class='yale-restricted-work-text'><%= owp_restriction_message(@document) %></h2>
      <%= render "grouped_metadata" %>
    <% elsif object_owp?(@document) && !current_user %>
      <%= render_document_partials @document, [:show_header] %>
      <h2 class='yale-restricted-work-text'><%= owp_login_message(@document) %></h2>
      <%= render "grouped_metadata" %>
    <% else %>
      <%= render_document_partials @document, [:show_header] %>
      <h2 class='yale-restricted-work-text'><%= restriction_message(@document) %></h2>
      <p class='yale-restricted-work-text'><%= restriction_instructions(@document) %></p>
      <%= render "grouped_metadata" %>
    <% end %>
  </div>
</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!--
       // COinS, for Zotero among others.
       // This document_partial_name(@document) business is not quite right,
       // but has been there for a while.
  -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev(document_partial_name(@document)) %>"></span>
<% end %>

<%= render 'show_tools' %>

<% unless @document.more_like_this.empty? %>
  <div class="card">
    <div class="card-header">More Like This</div>
    <div class="card-body">
    <%= render collection: document.more_like_this,
                partial: 'show_more_like_this',
                as: :document %>
    </div>
  </div>
<% end %>
