<% oid=@document.id %>
<%
  order_param=''
  if @document[:child_oids_ssim]
    child_oid = params[:child_oid] || params[:image_id]
    order_param="&cv=#{@document[:child_oids_ssim].index(child_oid)|| 0}"
  end
%>
<div class='uv-container'>
  <% if @show_sensitive_overlay %>
    <div id="sensitive-overlay">
      <h3 class= "overlay-first">This object may contain one or more of the following:</h3>
      <h3 class= "overlay-middle">* Graphic depictions of grievous acts of violence;</h3>
      <h3 class= "overlay-middle">* Depictions of human remains; or</h3>
      <h3 class= "overlay-last">* Obscene content as defined by the FCC.</h3>
      <h3 class= "overlay-bottom">Please refer to Yale Library's <a class= "overlay-link" href="https://guides.library.yale.edu/statementharmfulcontent" target="_blank" rel="noopener noreferrer">Statement on Potentially Harmful Content</a> for information about the inclusion of these materials in our collections and our principles for providing online access to these materials.</h3>
      <button onclick="document.getElementById('sensitive-overlay').style.display='none';" class="overlay-button">View Object</button>
    </div>
  <% end %>
<iframe
    class='universal-viewer-iframe'
    id='uv-iframe'
    title='Universal Viewer'
    src='<%= request&.base_url %>/uv/uv.html#?manifest=<%= manifest_url(oid) %><%= order_param %><%= uv_fulltext_search_param %>'
    width='924'
    height='668'
    allowfullscreen
    frameborder='0'>
</iframe>
</div>
<div class="hide-object">
  <button id="hide-object-btn" class="overlay-button" style="display: none;">Hide Object</button>
</div>
</br>

<div id='uv-pages'></div>
<div id='parent-oid'><%= @document.id %></div>

<script>
  $(document).ready(function(){
    window.addEventListener('message', (event) => {
      if (event.origin.match('<%= request.protocol %><%= request.host %>')) {
        const index = event.data
        const is_even = index % 2 === 0
        const array = '<%= @document[:child_oids_ssim] %>'
        const viewing_hint = '<%= @document[:viewing_hint_ssi] %>'
        const child_oids = JSON.parse(array.replace(/&quot;/g,'"'))
        const selected = $('iframe').contents().find('[id^="thumb"].thumb.selected')
        let uv_thumbnail = child_oids[index]

        if (selected.length > 1) {
          uv_thumbnail = is_even
            ? `${child_oids[index - 1] || ''} ${child_oids[index]}`
            : `${child_oids[index]} ${child_oids[index + 1] || ''}`
        }

        $('#uv-pages').html(uv_thumbnail)
      }
    }, false)

    // Overlay toggle
    const overlay = document.getElementById('sensitive-overlay');
    const hideBtn = document.getElementById('hide-object-btn');
    if (overlay && hideBtn) {
      // When overlay is hidden, show the Hide Object button
      overlay.querySelector('.overlay-button').addEventListener('click', function() {
        overlay.style.display = 'none';
        hideBtn.style.display = 'inline-block';
      });
      // When Hide Object is clicked, show the overlay again
      hideBtn.addEventListener('click', function() {
        overlay.style.display = 'block';
        hideBtn.style.display = 'none';
      });
    }
  })
</script>
