<div class="metadata-block single-item-show">
  <dl class='metadata-block__group'>
    <dt class='metadata-block__label-key'>
      <%= "Title:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['title_tesim'].first %>
    </dd>
    <dt class='metadata-block__label-key'>
      <%= "Creator:" %>
    </dt>
    <% if @document['creator_ssim'] %>
      <dd class='metadata-block__label-value metadata-block__label-value--yul'>
        <%= @document['creator_ssim'].first %>
      </dd>
    <% end %>
    <dt class='metadata-block__label-key'>
      <%= "Published/Created:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['dateStructured_ssim'] %>
    </dd>
    <dt class='metadata-block__label-key'>
      <%= "Call Number:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['callNumber_tesim'].first %>
    </dd>
    <dt class='metadata-block__label-key'>
      <%= "Container/Volume:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['containerGrouping_tesim'].first %>
    </dd>
    <dt class='metadata-block__label-key'>
      <%= "Image Count:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['child_oids_ssim'].count %>
    </dd>
    <dt class='metadata-block__label-key'>
      <%= "Found In:" %>
    </dt>
    <dd class='metadata-block__label-value metadata-block__label-value--yul'>
      <%= @document['ancestorTitles_tesim'].reverse.join(' > ') %>
    </dd>
  </dl>
</div>
<br />
<div class="submit_form">
  <h3>Request Information</h3>
  <%= form_for :permission_request, url: "#{ENV['MANAGEMENT_HOST']}/api/permission_requests", method: :post do |f| %>
    <%= hidden_field_tag "user", "#{current_user.sub}" %>
    <%= hidden_field_tag "oid", "#{@document.id.to_s}" %>
    <div class="request-key">
    <%= "<b>User ID:</b> #{current_user}".html_safe %><br />
    <%= "<b>Email:</b> #{current_user.email}".html_safe %><br />
    <div class="request-name">
      <%= f.label 'Full Name:' %>
      <%= f.text_field :name %>
    </div>
    <div class="request-label">
      <%= f.label 'Reason for request:' %>
    </div>
    <div class="request-user-note">
      <%= f.text_area :user_note %>
    </div>
    <div class="sumbit_form_buttons">
      <button type="button" class="request-form-cancel btn btn-danger" onclick="javascript:history.back()">Cancel</button>
      <%= submit_tag "Submit Request", class: "request-form-submit" %>
    </div>
  <% end %>
</div>