<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="float: left; width=device-float: left; width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Yale University Libraries - Digital Collections</title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" unless ENV["NO_STYLE"] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
  <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= content_for(:skip_links) %>
  </nav>
  <%= render partial: 'shared/header_navbar' %>

  <%= render partial: 'shared/flash_msg', layout: 'shared/flash_messages' %>

  <div id='hero'>
    <div class="intro">
      <%
=begin%>
<div class="carousel-item active">
          <%= image_tag("landing/hero-gutenberg.png", class: "d-block w-100", alt: " Prologue the Gutenberg Bible") %>
          <div class="carousel-caption d-none d-md-block">
            <p>From Gutenberg Bible, 1454</p>
          </div>
        </div>
<%
=end%>
      <%= image_tag("landing/hero-images/camp-spingarn.jpg", class: "d-block w-100 hero-image", alt: 'Conference attendees at "Camp Spingarn," Amenia, N.Y., August 24-26, 1916') %>
      <div class="image-overlay"></div>
      <div class="hero-caption d-md-block">
        <p>Conference at "Camp Spingarn," Amenia, N.Y.” </p>
      </div>
      <%
=begin%>
 <div class="carousel-item">
          <%= image_tag("landing/hero-chart.png", class: "d-block w-100", alt: 'Portolan Chart of the Mediterranean Sea') %>
          <div class="carousel-caption d-none d-md-block">
            <p>Portolan Chart of the Mediterranean Sea</p>
          </div>
        </div>
<%
=end%>
    </div>

    <div id='hero-search' class="container d-flex h-100">
      <div class="hero-info">
        <h1>Digital Collections</h1>

        <%= form_tag search_action_url, method: :get, class: 'search-query-form', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
          <div class="input-group">
              <%= hidden_field_tag :search_field, search_fields.first.last %>

            <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
            <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search-q q form-control rounded-#{search_fields.length > 1 ? '0' : 'left'}", id: "q", aria: { label: 'search' }  %>

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn" id="search">
                <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
                <%= blacklight_icon :search, aria_hidden: true %>
              </button>
            </span>
          </div>
        <% end %>

        <p class="d-none d-lg-block">
          Yale University Libraries Digital Collections provides access to millions of digitized works and images from our collections. At launch, you can browse hundreds of thousands of works from the Beinecke Rare Book & Manuscript Library’s collections of literary archives, early manuscripts, and rare books.
        </p>
      </div>
    </div>
  </div>

  <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">


    <div id='highlights'>
      <h2>HIGHLIGHTS</h2>
      <ul class='clearfix'>
        <li><%= link_to( search_catalog_path(search_field: 'identifierShelfMark_tesim', q: '"JWJ MSS 26"'), id: 'hughes-papers', class: 'btn float-left') do %>
          <div class='highlight-link'>Langston Hughes Papers</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'identifierShelfMark_tesim', q: '"YCAL MSS 46"'), id: 'carson-papers', class: 'btn float-left') do %>
          <div class='highlight-link'>Rachel Carson Papers</div>
          <% end %>
        </li>
        <li><%= link_to( solr_document_path('2052913'), id: 'divina-commedia', class: 'btn float-left') do %>
          <div class='highlight-link'>Divina Commedia</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'identifierShelfMark_tesim', q: '"JWJ MSS 1050"'), id: 'van-vechten-papers', class: 'btn float-left') do %>
          <div class='highlight-link'>Carl Van Vechten Papers</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'identifierShelfMark_tesim', q: '"WA MSS S-2368"'), id: 'stenzel-collection', class: 'btn float-left') do %>
          <div class='highlight-link'>Stenzel Collection of <br/> Western American Art</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'identifierShelfMark_tesim', q: '"WA Photos 466"'), id: 'lewis-photographs', class: 'btn float-left') do %>
          <div class='highlight-link'>Jon Lewis Photographs</div>
          <% end %>
        </li>
        <li><%= link_to( solr_document_path('2003775'), id: 'declaration-of-independence', class: 'btn float-left') do %>
          <div class='highlight-link'>Declaration of Independence</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'all_fields', q: ''), id: 'coming-soon', class: 'btn float-left ') do %>
          <div class='highlight-link'>Coming soon...</div>
          <% end %>
        </li>
      </ul>
    </div>
  </main>

  <%= render partial: 'shared/footer' %>
  <%= render partial: 'shared/modal' %>
  </body>
<% end %>



