<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <%= render partial: 'shared/ga_header' %>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="float: left; width=device-float: left; width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Yale University Libraries - Digital Collections</title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= favicon_link_tag %>
    <link rel="apple-touch-icon" sizes="120x120" href="<%= root_url %>apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= root_url %>apple-touch-icon.png">
    <%= stylesheet_link_tag "application", media: "all" unless ENV["NO_STYLE"] %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script async src="https://siteimproveanalytics.com/js/siteanalyze_66356571.js"></script>
    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
  <%= render partial: 'shared/ga_body' %>
  <nav>
    <div id="banner" class="alert alert-warning hidden"></div>
  </nav>
  <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= content_for(:skip_links) %>
  </nav>

  <header>
    <%= render partial: 'shared/header_navbar' %>

    <%= render partial: 'shared/landing_flash_msg', layout: 'shared/flash_messages', class: 'landing-flash' %>

    <div id='hero'>
      <div class="intro">
        <%= image_tag("", class: "d-block w-100", id: "hero-image", alt: "") %>
        <div class="image-overlay"></div>
        <div class="hero-caption d-md-block">
          <p id="hero-image-caption"></p>
        </div>
      </div>

      <div id='hero-search' class="container d-flex h-100">
        <div class="hero-info">
          <h1>Digital Collections</h1>
          <%= form_tag search_action_url, method: :get, class: 'search-query-form', role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
            <div class="input-group">
              <%= hidden_field_tag :search_field, search_fields.first.last %>
              <label for="q" class="sr-only"><%= t('blacklight.search.form.search.label') %></label>
              <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search-q q form-control rounded-#{search_fields.length > 1 ? '0' : 'left'}", id: "q", aria: { label: 'search' } %>
              <span class="input-group-append">
                <button type="submit" class="btn btn-primary search-btn" id="search">
                  <span class="submit-search-text"><%= t('blacklight.search.form.submit') %></span>
                  <%= blacklight_icon :search, aria_hidden: true %>
                </button>
              </span>
            </div>
            <div class="adv-search-link">
              <a href="<%=blacklight_advanced_search_engine.advanced_search_path %>">Advanced Search</a>
            </div>
          <% end %>
          <div class="container">
            <div class="row">
              <div class="about-section col-6">
              <h2 class="about-title">About</h2>
                <p class="about-content">This site provides access to millions of digitized works and images. New materials are added regularly. There are Yale Library collections that are not available on this site. More information on additional collections can be found on the <a class="about-link" href="https://library.yale.edu/explore-collections/explore/digital-collections">Digital Collections page</a>.</p>
              </div>
              <div class="need-help-section col-6">
              <h2 class="need-help-title">Need help?</h2>
                <p class="need-help-content">For help using this site, please see the <a class="dc-help-link" href="/help_guide">Digital Collections help guide</a>.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
    <div id='highlights'>
      <h2>Highlights</h2>
      <ul class='clearfix'>
        <li><%= link_to File.join(root_path, "catalog/33338891?child_oid=33342820"), id: 'sous-marine', class: 'btn float-start', alt: "La végétation sous-marine piece from the Robert B. Haas Family Arts Library Special Collections" do %>
          <div class='highlight-link'>La Végétation Sous-marine, Arts Library</div>
          <% end %>
        </li>
        <li><%= link_to( search_catalog_path(search_field: 'callNumber_tesim', q: '"JWJ MSS 26"'), id: 'hughes-papers', class: 'btn float-start', alt: "Langston Hughes (center) with Zora Neale Hurston (right) and Jessie Fauset (left) in Tuskegee, Alabama, in front of a statue of Booker T. Washington") do %>
          <div class='highlight-link'>Langston Hughes Papers, Beinecke Library</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog?all_fields_advanced=&callNumber_tesim=%22MS+1981%22+OR+%22MS+2004%22&child_oids_ssim=&creator_tesim=&date_fields=&digitization_note_tesi=&fulltext_tsim_advanced=&genre_fields=&oid_ssi=&op=AND&search_field=advanced&sort=title_ssim+asc%2C+oid_ssi+desc%2C+archivalSort_ssi+asc&subject_fields=&title_tesim="), id: 'kissinger', class: 'btn float-start', alt: "Photograph of a plane flying over fields, with mountains in the background, inscribed “To our ambassador, Anne and Charles Lindbergh” in the upper left" do %>
          <div class='highlight-link'>Henry A. Kissinger papers, Parts II & III, Manuscripts and Archives</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog?f%5BcallNumber_ssim%5D%5B%5D=RG+221"), id: 'ephemera', class: 'btn float-start', alt: "Missionary children playing with a goat-drawn cart in China, with two Chinese men in the background, 1895" do %>
          <div class='highlight-link'>Missionary Ephemera Collection, Divinity Library</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog?f%5Bproject_identifier_tesi%5D%5B0%5D=legalpostcard"), id: 'postcard', class: 'btn float-start', alt: "Lectures on Law by Hon. Tapping Reeve and James Gould Esq., Litchfield, 1812-1813" do %>
          <div class='highlight-link'>Legal Postcard Collection, Law Library</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog/16945082"), id: 'hogarth', class: 'btn float-start', alt: "Satirical 19th century print of a man sitting on the pavement, having fallen backwards, with his wig falling off and coins spilling from his pockets; four men observing prints posted in a shop window are behind him." do %>
          <div class='highlight-link'>Hogarth Painting the Comic Muse, Lewis Walpole Library</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog/16986907?child_oid=16987505"), id: 'medical', class: 'btn', alt: "Black and white seventeenth century print of the muscles in the human body in perspective, with three views of an individual and a smaller skeleton" do %>
          <div class='highlight-link'>Fasciculus Medicinae, with Consilium Pro Peste Evitanda, Medical Historical Library</div>
          <% end %>
        </li>
        <li><%= link_to File.join(root_path, "/catalog/32307332?child_oid=32307367"), id: 'music', class: 'btn', alt: "Handwritten music noted in tablature from the Wickhambrook lute manuscript, with “finis si vou voules” written at the end" do %>
          <div class='highlight-link'>Divertimenti a Mandolino, Music Library</div>
          <% end %>
        </li>
      </ul>
      <div id="content-statement">
        <h2>Statement on Potentially Harmful Content</h2>
        <p>Yale University Library’s collections contain historical and contemporary materials documenting human expression and lived experience. Content may include images or language that library users may find harmful, offensive, or inappropriate. Some of these words or images are now recognized as offensive and unacceptable; some may have been viewed as unacceptable when they were created. Yale University Library staff are engaged in addressing or contextualizing this content and language; for more information, see the <a href="https://guides.library.yale.edu/statementharmfulcontent">Statement on Potentially Harmful Content</a>.</p>
    </div>
  </main>

  <%= render partial: 'shared/footer' %>
  <%= render partial: 'shared/modal' %>
  </body>
<% end %>

<script>

$(document).ready(function() {
    const images = [
      {
        alt: 'Conference attendees at "Camp Spingarn," Amenia, N.Y., August 24-26, 1916',
        caption: 'Conference at "Camp Spingarn," Amenia, N.Y.',
        src: '<%= asset_path("landing/hero-images/camp-spingarn.jpg") %>',
      },
      {
        alt: 'Prologue the Gutenberg Bible',
        caption: 'From Gutenberg Bible, 1454',
        src: '<%= asset_path("landing/hero-images/gutenberg-bible.jpg") %>'
      },
      {
        alt: 'Portolan Chart of the Mediterranean Sea',
        caption: 'Portolan Chart of the Mediterranean Sea',
        src: '<%= asset_path("landing/hero-images/portolan-chart.jpg") %>',
      },
    ]

    const lastIndex = window.localStorage.getItem('lastIndex') || 0

    let index = Math.floor(Math.random() * images.length)
    while (index == lastIndex) {
      index = Math.floor(Math.random() * images.length)
    }
    window.localStorage.setItem('lastIndex', JSON.stringify(index))

    const alt = images[index].alt;
    const caption = images[index].caption;
    const src = images[index].src;

    $('#hero-image').attr({ 'src': src, 'alt': alt });
    $('#hero-image-caption').text(caption);
})
</script>