<% doc_presenter = show_presenter(document) %>

  <div class='metadata-block single-item-show'>
    <h2 class='metadata-block__title'><%= metadata.titlecase %></h2>
    <dl class='metadata-block__group'>

      <% doc_presenter.metadata_fields_to_render(metadata).each do |field_name, field, field_presenter| %>
        <dt class='blacklight-<%= field_name.parameterize %> metadata-block__label-key'>
          <!-- KEY -->
          <%= (render_document_show_field_label document, field: field_name).tr(':', '') %>
          <!-- VALUE -->
        </dt>
        <dd class='blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--yul'>
          <%= field_presenter.render%>
        </dd>
      <% end %>
    </dl>
  </div>