<% doc_presenter = show_presenter(document) %>
<% keyword = Yul::KeywordMetadataPresenter.new(document: doc_presenter.fields_to_render).keyword_terms %>

<% if keyword.length > 0 %>
  <div class='metadata-block'>
    <h4 class='metadata-block__title'>Keyword</h4>
    <dl class='metadata-block__group'>
      <% keyword.each do |field_name, field| -%>
        <dt class="blacklight-<%= field_name.parameterize %> metadata-block__label-key">
          <!-- KEY -->
          <%= (render_document_show_field_label document, field: field_name).tr(':', '') %>
          <!-- VALUE -->
        </dt>
        <dd class="blacklight-<%= field_name.parameterize %> metadata-block__label-value metadata-block__label-value--yul">
          <% if field_name == 'format' %>
            <% field.map do |f| %>
              <%= link_to "#{f}", "#{'/?f%5Bformat%5D%5B%5D=' + f.to_s.split().join('+')}" %>
            <% end %>
          <% elsif field_name == 'genre_ssim' %>
            <% field.map do |f| %>
              <%= link_to "#{f}", "#{'/?f%5Bgenre_ssim%5D%5B%5D=' + f.to_s.split().join('+')}" %>
            <% end %>
          <% elsif field_name == 'resourceType_ssim' %>
            <% field.map do |f| %>
              <%= link_to "#{f}", "#{'/?f%5BresourceType_ssim%5D%5B%5D=' + f.to_s.split().join('+')}" %>
            <% end %>
          <% elsif !field.respond_to?('doc_presenter') && field.respond_to?('to_sentence') %>
            <%= field.to_sentence %>
          <% elsif !field.respond_to?('doc_presenter') %>
            <%= field.to_s %>
          <% else %>
            <%= doc_presenter.field_value field %>
          <% end %>
        </dd>
      <% end %>
    </dl>
  </div>
<% end %>